html, body {
    height: 100%;
    background-color: darkkhaki;
  }

.jumbotron {
    background-color: #4682B4;
    color: ghostwhite;
    opacity: 0.6;
    padding-top: 15px;
    padding-bottom: 25px;
}

.first-row {
    opacity: 0.6;
}

.panel-body {
    background-color: #4682B4;
    color: black;
}

.panel-default>.panel-heading {
    background-color: #4682B4;
    color: GhostWhite;
}

.nav-tabs {
    text-align: center;
}

.second-row {
    display: none;
    opacity: 0.6;
    font-weight: bold;
}

.third-row {
    display: none;
}
.container {
    background-image: url("../images/park.jpeg");
    background-repeat: no-repeat;
    background-color: darkkhaki;
    background-size: cover;
    padding-bottom: 15%;
}

#postal-code {
    color: black;
}

#school-header {
    color: GhostWhite;
    font-weight: bold;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}