html, body {
    height: 100%;
    background-color: darkkhaki;
  }

.jumbotron {
    background-color: #4682B4;
    color: ghostwhite;
    opacity: 0.9;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-top: 30px;
    font-family: "Audiowide", cursive;;
}

.first-row {
    opacity: 0.8;
}

#extended-results-here {
    text-align: center;
    font-weight: bold;
}

.panel-body {
    background-color: #4682B4;
    color: black;
}

.panel-default>.panel-heading {
    background-color: #4682B4;
    color: GhostWhite;
}

.nav-tabs {
    text-align: center;
}

.second-row {
    display: none;
    opacity: 0.8;
    font-weight: bold;
}

.third-row {
    display: none;
}

.fourth-row {
    display: none;
    opacity: 0.8;
    font-weight: bold;
    color: ghostwhite;
}
.fifth-row {
    display: none;
    opacity: 0.8;
    font-weight: bold;

}

.container {
    background-image: url("../images/park.jpeg");
    background-repeat: no-repeat;
    background-color: darkkhaki;
    background-size: cover;
    padding-bottom: 25%;
    cursor: pointer;
}

#postal-code {
    color: black;
}

#school-header {
    color: GhostWhite;
    font-weight: bold;
}

#student_teacher{
    text-align: left;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.col-lg-3 {
    text-align: right;
}

#school_info {
    text-align: left;
}

#demographics {
    text-align: left;
}